<h1>Welcome to Ember - with packaging and lazy loading</h1>
<ul>
  <!-- TODO: change it to test link-to -->
  <li><a href="#/boot">Boot</a></li>
  <li><a href="#/package1">Package 1</a></li>
  <li><a href="#/package2">Package 2</a></li>
</ul>
{{outlet}}